#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    opacity: 0.15;
    stroke: #CE1B5F;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.15;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.heart:before,
.heart:after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    left: 50px;
    top: 0;
}

.heart span {
    position: absolute;
    transform: rotate(45deg);
    font-size: 16px;
    font-weight: bold;
    color: white;
}

@keyframes beat {

    0%,
    100% {
        transform: scale(1) rotate(-45deg);
    }

    50% {
        transform: scale(1.2) rotate(-45deg);
    }
}

.hidden {
    display: none;
}

.sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0.8;
    animation: sparkleEffect 0.5s linear;
}

@keyframes sparkleEffect {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}